.Blog {
  width: 100%;
  height: 100vh;
  background-color: var(--base);
  position: relative;
  overflow: hidden;
  .commonTitle {
    width: 70%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: end;
    justify-content: space-between;
    transform: translate(20%, 70%);
    .subTitle {
      font-size: clamp(20px, 1.56vw, 30px);
      font-weight: 700;
    }
    .mainTitle {
      font-size: clamp(48px, 3.33vw, 64px);
      font-weight: 900;
    }
    button {
      width: fit-content;
      height: fit-content;
      cursor: pointer;
      transform: translateY(-30%);
      border-radius: 10px;
      border: none;
      background-color: var(--primary);
      color: var(--base);
      padding: 0.5rem 2rem;
      font-size: 16px;
      font-weight: 700;
      &:hover {
        background-color: var(--secondary);
      }
    }
  }
  .filmTop {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 0.8rem 0;
    border-top: 4px solid var(--secondary);
    border-bottom: 4px solid var(--secondary);
  }
  .filmBottom {
    position: absolute;
    bottom: 10%;
    left: 0;
    padding: 0.8rem 0;
    border-top: 4px solid var(--secondary);
    border-bottom: 4px solid var(--secondary);
  }
  .wrapContainer {
    display: flex;
    overflow: hidden;
    .eventContainer {
      position: absolute;
      top: 36%;
      .postingsWrap {
        display: flex;
      }
      .postings {
        display: flex;
        transition: transform 0.5s ease-in-out;
        img {
          width: clamp(215px, 16.67vw, 320px);
          height: clamp(215px, 16.67vw, 320px);
        }
        .posting {
          flex: 0 0 300px;
          flex-shrink: 0;
          padding: 1rem;
          background-color: #fff;
          margin: 0 1rem;
          border-radius: 5px;
          box-shadow: 0px 0px 5px rgba(130, 115, 151, 0.2);
          text-align: center;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: translateY(-5px);
          }
          h2 {
            text-align: left;
            font-weight: 700;
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .eventContainer.original {
    animation: rollingleft1 120s linear infinite;
  }

  .eventContainer.clone {
    animation: rollingleft2 120s linear infinite;
    left: 100%;
  }

  @keyframes rollingleft1 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    50.01% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes rollingleft2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
