.Contact {
  width: 100%;
  height: 100vh;
  background-color: var(--base);
  .inner {
    width: 90%;
    height: 100vh;
    margin: auto;
    position: relative;
    .commonTitle {
      width: fit-content;
      transform: translate(50%, 40%);
      p {
        font-size: clamp(16px, 1.56vw, 24px);
      }
    }
    .title {
      width: fit-content;
      text-align: center;
    }
    .subTitle {
      font-size: clamp(20px, 1.56vw, 30px);
      font-weight: 700;
    }
    .mainTitle {
      font-size: clamp(48px, 3.33vw, 64px);
      font-weight: 900;
    }
    .sendMail {
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 55%;
      height: fit-content;
      align-items: center;
      margin: auto;
      label {
        font-size: var(--labelrem);
        font-weight: 700;
      }
      input {
        background-color: var(--secondary);
        border-radius: 5px;
        color: #fff;
      }
      .generalInfo {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        input {
          width: 350px;
          height: 50px;
        }
        .from_name,
        .phone_number {
          display: flex;
          flex-direction: column;
        }
      }
      .your_email,
      .subject {
        width: 100%;
        margin: 1rem 0;
        input {
          width: 100%;
          height: 50px;
        }
      }
      .message {
        margin: 1rem 0;
        input {
          width: 100%;
          height: 180px;
        }
      }
      .btn {
        cursor: pointer;
        font-size: clamp(16px, 0.94vw, 18px);
        font-weight: 900;
        background-color: var(--primary);
        border: none;
        border-radius: 10px;
        color: var(--base);
        padding: 0.8rem 4.5rem;
        letter-spacing: 1.5px;
        margin: 2rem auto;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        &:hover {
          background-color: var(--secondary);
        }
      }
    }
    .copyright {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      font-size: clamp(12px, 0.83vw, 16px);
      font-weight: 700;
    }
  }
}
