.Header {
  position: relative;
  background-color: var(--primary);
  width: clamp(150px, 18.23vw, 18%);
  height: 100vh;
  position: fixed;
  z-index: 100;
  .wrapHeader {
    margin: 6rem auto;
    padding: 0 2.5rem;
    .logo img {
      width: clamp(84px, 8.49vw, 163px);
    }
    .nav {
      margin: 2rem auto;
      a {
        padding: 1rem 0;
        display: block;
        color: var(--base);
        font-size: var(--h4);
        font-weight: 500;
        transition: 0.3s;
        &.active {
          color: var(--point);
          position: relative;
          &::after {
            content: "";
            background-image: url(../../public/images/Header/ShootingStar.png);
            position: absolute;
            background-size: clamp(18px, 1.77vw, 34px);
            width: clamp(18px, 1.77vw, 34px);
            height: clamp(18px, 1.77vw, 34px);
            top: 40%;
            transform: translateY(-50%);
            right: -5%;
            animation: star 0.3s;
          }
          @keyframes star {
            0% {
              right: -20%;
            }
            100% {
              right: -5%;
            }
          }
        }
      }
    }
  }
  .wrapLink {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    svg {
      padding: 0.5rem 1rem;
      width: 45px;
      height: 45px;
      path {
        color: var(--base);
        transition: 0.3s;
        &:hover {
          color: var(--point);
        }
      }
    }
  }
}
