.Home {
  width: 100%;
  height: 100vh;
  background-color: var(--base);
  display: flex;
  justify-content: center;
  align-items: center;
  .wrapHomeInfo {
    width: clamp(600px, 35.42vw, 680px);
    height: fit-content;
    margin-right: 1rem;
    .wrapHomeName {
      text-align: right;
      p {
        font-size: clamp(14px, 1.25vw, 24px);
      }
      .name {
        font-size: clamp(48px, 5vw, 96px);
        font-weight: 900;
      }
      .chgWord {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        .Typewriter span {
          position: relative;
          color: transparent;
          display: inline-block;
          white-space: nowrap;
          font-size: clamp(48px, 5vw, 96px);
          font-weight: 900;
          -webkit-text-stroke: 1.5px var(--nameEs);
          border-left: 1px solid transparent; /* 투명한 border-left 추가 */
          padding-left: 0.5rem;
        }
      }
    }
    .toContact {
      margin-left: 10rem;
      width: fit-content;
      height: fit-content;
      button {
        cursor: pointer;
        font-size: clamp(14px, 1.25vw, 24px);
        font-weight: 700;
        background-color: var(--primary);
        border: none;
        border-radius: 10px;
        color: var(--base);
        padding: 0.8rem 4.5rem;
        letter-spacing: 1.5px;
        margin-top: 5rem;
        transition: 0.3s;
        &:hover {
          background-color: var(--secondary);
          color: var(--point);
        }
      }
    }

    .mail {
      width: fit-content;
      margin-left: 15rem;
      .faHome {
        width: clamp(28px, 1.67vw, 32px);
        height: clamp(28px, 1.67vw, 32px);
        margin-right: 1rem;
      }
      .wrapMail {
        width: fit-content;
        margin: auto;
        margin-top: 1.5rem;
        .naverMail,
        .gMail {
          display: flex;
          justify-content: left;
          align-items: center;
          p {
            font-size: clamp(14px, 1.04vw, 20px);
            line-height: 50px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .wrapHomeImg {
    width: fit-content;
    height: fit-content;
    margin-left: 1rem;
    img {
      width: clamp(250px, 38.28vw, 735px);
    }
  }
}
